.masthead {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding-left: 7%;
  position: relative;
  width: 65vw;
  z-index: 2;
}

.masthead h1 {
  font-family: Hind-Bold;
  z-index: 2;
}

.masthead p {
  font-family: Hind-Regular;
  z-index: 2;
}

.masthead:before {
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: skewX(-9deg);
  width: 100%;
}
